:root{
    --block_color: rgb(15, 146, 179);
    --lightfont_color: whitesmoke;
    --Header_Footer_color: black;
    --portfolio_example_color: blueviolet;

    --blue: blue;
    --black: black;
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

header{
    z-index: 2;
    display: inline-block;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--black);
    color: var(--lightfont_color);
    width: 100%;
    position:fixed;
    overflow: hidden;
}

#logo-bottom{
    margin-left: 10px;
}

.inside-header{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    vertical-align: middle;
}

.logo-box{
    display: flex;
    margin: 2px;
    height: 100%;
    display: table;
    float: left;
    line-height: 160%;
}
.logo-box h1{
    display: flex;
    color:var(--lightfont_color);
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}

.logo-box h1 span{
    font-weight: 200;
}

.nav-info{
    height:100%;
}

.nav-box a{
    height:100%;
    float: right;
    padding: 0px 10px;
    vertical-align: middle;
}

.nav-info a li{
    display:flex;
    justify-content: center;
    height:100%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    color: var(--lightfont_color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    padding-top: 18px;
    overflow: hidden;
   
}

#About {
    display:flex;
    background-color: var(--block_color);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}



#Skills {
    display:flex;
    background-color: var(--block_color);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

#Random {
    display:flex;
    background-color: var(--block_color);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.flexbox-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Portfolio-examples h2{
    font-size: 22px;
    color: var(--lightfont_color);
}

.text-box{
    position: absolute;
    background-color: var(--black);
    padding-left: 20px;
    padding-right: 20px;
}

#Portfolio { 
    background-color: var(--block_color);
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}


.Portfolio-examples{
    box-sizing: border-box;
    position: relative;
    background-color: var(--block_color);
    height: 250px;
    width:250px;
    border-color: var(--black);
    border-style: solid;
    border-width: 2px;
    margin: 10px;
    padding: 19.5px;
    font-size: 30px;
   
}

.Portfolio-examples:hover{
    background-color: var(--portfolio_example_color);
    height: 275px;
    width: 275px;
}

.Portfolio-examples:active{
    box-shadow: 0 0 10px var(--black) inset;
}

.Portfolio-examples:focus{
    background-color: var(--blue);
    opacity: 50%;
    
}

footer{
    display: block;
    position: relative;
    box-sizing: border-box;
    margin:0;
    padding:50px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: var(--Header_Footer_color);
    color: var(--lightfont_color);
    width: 100vw;
    bottom: 0;
    text-align: center;
    overflow: hidden;
}

.inner-footer{
    display: block;
    margin: 0 auto;
    width:1100px;
    height: 100%
}

.inner-footer .footer-logo-box{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}
.inner-footer .footer-logo-box img{
    width: 65px;
    height: auto;
    vertical-align: middle;
}

.inner-footer .footer-third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%
}

.inner-footer .footer-third:last-child{
    margin-right: 0;
}

.inner-footer .footer-third h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    display: block;
    width:100%;
    margin-bottom: 20px;
}

.inner-footer .footer-third a{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 200px;
    color: whitesmoke;
    display: block;
    width:100%;
    padding-bottom: 5px;
}

.inner-footer .footer-third li{
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
}


@media(max-width:600px){
    footer .inner-footer{
        width: 90%;
    }

    .inner-footer .footer-logo-box,
    .inner-footer .footer-third{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:900px){
    footer .inner-footer{
        width: 90%;
    }

    .inner-footer .footer-logo-box,
    .inner-footer .footer-third{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:1028px){
    footer .inner-footer{
        width: 90%;
    }

    .inner-footer .footer-logo-box,
    .inner-footer .footer-third{
        width: 100%;
        margin-bottom: 30px;
    }
}

@media(max-width:690px){
    header .inner-header{
        float: column;
    }
}

@media(max-width:900px){
    header .inner-header{
        float: column;
    }
}

@media(max-width:1028px){
    header .inner-header{
        float: column;
    }
}